@model Lab4.Models.SignUpModel
@{
    ViewData["Title"] = "SignUpResult";
}

<h2>Sign Up result</h2>

<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.Gender</p>
<p>@Model.Day @Model.Month  @Model.Year</p>
<p>@Model.Email</p>
<p>@Model.Password</p>
